<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <ul>
    <% for(var i=1; i<=count;i++){ %>
      <li>
        <img src="images/<%=i%>.jpg" alt="">        
      </li>
    <% } %>
  </ul>
</body>
</html>